<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PVFS21.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PVFS21.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PVFS2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PVFS21.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>.\WEBFiles</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>.\webbin\WEBFiles.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputC18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputASM30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputC32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>.\webbin</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>WEBFiles.bin</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>False</value>
            </setting>
        </PVFS21.Properties.Settings>
        <PVFS21.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>.\WEBFiles</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>.\webbin\WEBFiles.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>.\webbin</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>WEBFiles</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DynamicFiles" serializeAs="String">
                <value>*.htm, *.html, *.cgi, *.xml, *.bin, *.txt</value>
            </setting>
            <setting name="NoCompressFiles" serializeAs="String">
                <value>*.inc, snmp.bib</value>
            </setting>
            <setting name="ReserveBlockClassic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UploadAddress" serializeAs="String">
                <value>192.168.4.1</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>fsupload</value>
            </setting>
            <setting name="UploadUser" serializeAs="String">
                <value>ESP8266</value>
            </setting>
            <setting name="UploadPass" serializeAs="String">
                <value>0123456789</value>
            </setting>
        </PVFS21.Settings>
        <MPFS21.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputC18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputASM30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputC32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value/>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>False</value>
            </setting>
        </MPFS21.Properties.Settings>
        <MPFS21.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>.\WEBFiles</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>.\WEBFiles.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>WEBFiles</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DynamicFiles" serializeAs="String">
                <value>*.htm, *.html, *.cgi, *.xml, *.bin</value>
            </setting>
            <setting name="NoCompressFiles" serializeAs="String">
                <value>*.inc, snmp.bib</value>
            </setting>
            <setting name="ReserveBlockClassic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UploadAddress" serializeAs="String">
                <value>192.168.4.1</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>pvfsupload</value>
            </setting>
            <setting name="UploadUser" serializeAs="String">
                <value>ESP8266</value>
            </setting>
            <setting name="UploadPass" serializeAs="String">
                <value>0123456789</value>
            </setting>
        </MPFS21.Settings>
        <MPFS2.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>.\WebPages</value>
            </setting>
            <setting name="SourceImage" serializeAs="String">
                <value>.\Img2.bin</value>
            </setting>
            <setting name="StartWithDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value>.\webbin</value>
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value>Img2</value>
            </setting>
            <setting name="UploadImageAfterBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DynamicFiles" serializeAs="String">
                <value>*.htm, *.html, *.cgi, *.xml, *.bin</value>
            </setting>
            <setting name="NoCompressFiles" serializeAs="String">
                <value>*.inc, snmp.bib</value>
            </setting>
            <setting name="ReserveBlockClassic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UploadAddress" serializeAs="String">
                <value>192.168.4.1</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>fsupload</value>
            </setting>
            <setting name="UploadUser" serializeAs="String">
                <value>ESP8266</value>
            </setting>
            <setting name="UploadPass" serializeAs="String">
                <value>0123456789</value>
            </setting>
        </MPFS2.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
